django>1.6
Pillow>=2
django-extensions
django-classy-tags>=0.5
South>=0.8.4
html5lib>=0.90
django-mptt==0.6
django-sekizai>=0.7
argparse
dj-database-url
https://github.com/divio/django-cms/archive/develop.zip
https://github.com/divio/djangocms-text-ckeditor/archive/master.zip
https://github.com/divio/djangocms-admin-style/archive/master.zip
https://github.com/KristianOellegaard/django-hvad/archive/master.zip
https://github.com/divio/djangocms-column/archive/master.zip
https://github.com/divio/djangocms-style/archive/master.zip
https://github.com/stefanfoulis/django-filer/archive/develop.zip
django-reversion>=1.8
cmsplugin_filer
