{% extends "index.html" %}
{% load i18n static cms_tags menu_tags sekizai_tags nephila_cms %}
{% load url from future %}
{% block head %}
{{ block.super }}
{% add_data "css-screen" "css/normalize.css" %}
{% add_data "css-screen" "css/main.css" %}
{% add_data "css-screen" "font-awesome/css/font-awesome.min.css" %}
{% add_data "js-script" "js/jquery.crsf.js" %}
{% add_data "js-script" "js/plugins.js" %}
{% add_data "js-script" "js/main.js" %}
{% add_data "js-script" "js/jquery.easing.1.3.js" %}
{% add_data "js-ext" "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" %}
{% addtoblock "script" %}
var post_url = '{% url "email_create" %}';
function initialize() {
  var myLatlng = new google.maps.LatLng(43.76753,11.25987);
  var mapOptions = {
    scrollwheel: false,
    navigationControl: false,
    mapTypeControl: false,
    scaleControl: false,
    scrollwheel: false,
    draggable: false,
    streetViewControl: false,
    disableDefaultUI: true,
    zoom: 17,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      icon: "{% static 'img/marker.png' %}",
      title: 'Beer House Club'
  });

var center;
function calculateCenter() {
  center = map.getCenter();
}
google.maps.event.addDomListener(map, 'idle', function() {
  calculateCenter();
});
google.maps.event.addDomListener(window, 'resize', function() {
  map.setCenter(center);
});

var stylemap = [
    {
        featureType: "transit.station.bus",
        stylers: [
          { visibility: "off" }
        ]
    },
    {
        featureType: "poi.business",
        stylers: [
          { visibility: "off" }
        ]
    },
    {
        stylers: [
          { hue: "#FFC800" },
          { saturation: -100 }
        ]
    },
    {
        featureType: "all",
        stylers: [
          { lightness: -10 }
        ]
    }
];

map.setOptions({styles: stylemap});

}

google.maps.event.addDomListener(window, 'load', initialize);

{% endaddtoblock %}
{% endblock %}

{% block body_opts %}id="{% block sezione_id %}generale{% endblock %}" class="lang-{{ LANGUAGE_CODE }} page-{% page_attribute slug %} {% block sezione_class %}tpl_base{% endblock %}"{% endblock %}

{% block body %}
<header class="header">
            <div class="wrap">
                <img src="{% static 'img/logo_01.png' %}" alt="DjangoBeer logo" class="logo">
                <p>Hi buddies! <br>Welcome to DjangoBeer, the first Django community event in Florence.<br>Meet us to enjoy Django and Python talks. <br>And taste fresh Italian craft beer.<br>Join us!
            </div>
        </header>
        <!-- Program -->
        <div class="program">
            <div class="wrap">

                <h2>Evening Program</h2>
                    <div class="speaker iacopo">
                        <img src="{% static 'img/iacopo_spalletti.png' %}" class="img-circle center" alt="Iacopo Spalletti">
                        <h3>Iacopo<br> <b>Spalletti</b></h3>
                        <h4>Nephila / CEO and Djangonaut -&nbsp;Florence,&nbsp;IT</h4>

                        <a class="button-small bio-toggle" href="#"><i class="icon-plus"></i> About</a>

                        <div class="bio">
                            <p>Iacopo is a Python fan and a Django CMS core developer.<br>He and his team are working to create a Django community in Florence.<br>Spread the word!</p>
                        </div>

                        <div class="talk">
                            <h4>django CMS 3.0 highlights</h4>
                            <p>What django CMS 3.0 will do to improve developers' life, and to deliver a new experience for the users.</p>
                        </div>
                    </div>
                    <div class="speaker daniel">
                        <img src="{% static 'img/daniel_greenfeld.png' %}" class="img-circle center" alt="Daniel Greenfeld">
                        <h3>Daniel<br><b>Greenfeld</b></h3>
                        <h4>Cartwheel Web / Djangonaut and author -&nbsp;Los Angeles,&nbsp;US</h4>

                        <a class="button-small bio-toggle" href="#"><i class="icon-plus"></i> About</a>

                        <div class="bio">
                            <p>Currently in Florence for a month, Daniel does Python, Django, and JavaScript out of Los Angeles, California. He is the co-author of the must-read book, <b>Two Scoops of Django</b>.</p>
                        </div>
                        <div class="talk">
                            <h4>What's new in<br>Django</h4>
                            <p>A discussion about recent and upcoming developments in Django, and how you can help.</p>
                        </div>
                    </div>
                    <div class="speaker christian">
                        <img src="{% static 'img/cb_portrait_240.png' %}" class="img-circle center" alt="Christian Bertschy">
                        <h3>Christian<br><b>Bertschy</b></h3>
                        <h4>Divio AG / CEO and co-founder -&nbsp;Zurich,&nbsp;CH</h4>

                        <a class="button-small bio-toggle" href="#"><i class="icon-plus"></i> About</a>

                        <div class="bio">
                            <p>Christian leads Divio, the company backing the Django CMS open source project. In addition, he supports other software companies and startups with his user experience know-how.</p>
                        </div>
                        <div class="talk">
                            <h4>A cloud for Django&nbsp;CMS</h4>
                            <p>How a cloud system for django CMS can help clients, project managers, designers and developers to work easily together. </p>
                        </div>
                    </div>
            </div>
        </div>

        <!-- Join -->
        <div class="join">
            <div class="wrap">
                <h2>Join Us</h2>
                <img src="{% static 'img/beer.png' %}" class="center have-a-beer" alt="Have a beer">
                <img src="{% static 'img/sold_out.png' %}" class="center have-a-beer" alt="Sorry, we're sold out">
                <div class="message">
                    <p>But don't despair, more events will come:</p>
                    <a class="button contact-open" href="http://djangobeer.eventbrite.it" target="_blank"><i class="icon-ok"></i> Keep me informed!</a>
                </div>
                <div class="contact">
                    <p>We are going to hold another<br>Django meeting in Florence in mid-July</p>
                    <form>
                        {% csrf_token %}
                        <input class="emailfield" type="email"><br>
                        <a class="button contact-send" href="#"><i class="icon-share-alt"></i> I'm interested!</a>
                    </form>
                </div>
                <!--
                <p>Join the talks and get <b>1 FREE CRAFT BEER</b></p>
                <a class="button" href="http://djangobeer.eventbrite.it" target="_blank"><i class="icon-ok"></i> Ok, count me in!</a>
                <p class="registration">(free registration required)</p>
                -->
            </div>
            <div class="wrap details">
                <h2>Details</h2>
                <p><b>Do you want learn more about beer?</b><br> DjangoBeer invites you to a beer tasting session, with <b>"I Birranti"</b> the Florence association of beer enthusiasts</p>
				<p><b>Don't like beer, or don't drink?</b><br>No problem. DjangoBeer provides you with alcohol-free drinks.</p>
				<p><b>Do you like Tuscan cooking?</b><br>Have tasty Tuscan food at the<br>Beer House Club.<br>Vegetarians are welcome.</p>
				<p><b>Do you like <b>Two Scoops of Django</b>?</b><br>Authors Daniel Greenfeld and Audrey Roy will also be hosting a book signing during DjangoBeer.</p>
            </div>
        </div>
        <!-- Venue -->
        <div class="venue">

            <div class="wrap">
                <h2>Venue</h2>
                <p><h3><a href="http://goo.gl/maps/9aZhK" target="_blank">Beer House Club</a></h3>
                <a href="http://goo.gl/maps/9aZhK" target="_blank"><i class="icon-map-marker"></i> Corso dei Tintori 34/r, Florence</a></p>
            </div>
            <div id="map-canvas"></div>
        </div>

        <!-- Venue -->
        <div class="organization">

            <div class="wrap">
                <h2>Organization</h2>
                <p><b>DjangoBeer</b>
                is proudly organized by <br> <a href="http://nephila.it" target="_blank"><img src="{% static 'img/nephila.png' %}" border="0" alt="Nephila"></a></p>
                <div class="supporters">
                <h4>Thanks to</h4>
                    <a href="http://django-cms.org" target="_blank"><img src="{% static 'img/djangocms.png' %}" border="0" alt="django CMS"></a>
                    <a href="https://django.2scoops.org/" target="_blank"><img src="{% static 'img/twoscoops.png' %}" border="0" alt="Two Scoops of Django"></a>
                </div>
            </div>
        </div>
{% if False %}{% placeholder "content" %}{% endif %}
{% endblock %}
