{% load cms_tags sekizai_tags menu_tags stack_tags %}
<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>DjangoBeer - The first Django meeting in Florence</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="google-site-verification" content="jZb-3BNjZ408sPDGi87D0o1cm_MamKsNvQszBvLj80M" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css">
        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
        {% render_block "css" %}
    </head>
    <body {% block extra_body %} {% endblock %}>
    {% cms_toolbar %}
        <!-- Add your site or application content here -->
        <header class="header">
            <div class="wrap">
                <ul class="baseul">
                {% show_menu 0 1 100 100 "menu/flat.html" %}
                </ul>
                {% block header %}
                <h2>{% show_editable_model request.current_page "titles" "menu_title,page_title" %}</h2>
                {% placeholder header %}
                {% endblock %}
            </div>
        </header>
        <!-- Program -->
        <div class="program">
            <div class="wrap">
            {% block main %}
                {% placeholder main %}
            {% endblock %}
            </div>
        </div>
        {% block addon %}
        <!-- Join -->
        <div class="join">
            <div class="wrap details">
            </div>
        </div>
        {% endblock %}
        {% block footer %}
        <!-- Venue -->
        <div class="organization">
            <div class="wrap">
                {% stack 'footer global' %}
            </div>
        </div>
        {% endblock %}
     {% render_block "js" %}
    </body>
</html>
